{% extends './base.html' %}
{% load static %}

{% block content %}



<div class="card" style ="margin:100; padding-left: 300px; padding-right: 300px; text-align: center">
     <div class="row">
                <div class="col">
                  <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                      <li class="breadcrumb-item"><a href="/myorders">My Orders</a></li>
                      <li class="breadcrumb-item"><a href="/order_details">Order Details</a></li>
                    
                    </ol>
                  </nav>
                </div>
              </div>
    <h5 class="card-header">Order Details</h5>
    <div class="card-body">
        <table class="table table-borderless table-shopping-cart">
            <thead class="text-muted">
                <tr class="small text-uppercase">
                    <th scope="col" width="120" style="text-align: center;">Product Image</th>
                    <th scope="col" width="120" style="text-align: center;">Product details</th>
                    <th scope="col" width="120" style="text-align: center;">Quantity</th>
                    <th scope="col" width="120" style="text-align: center;">Price</th>
                    <th scope="col" width="120" style="text-align: center;">Total Price</th>

                </tr>
            </thead>
            <tbody>

                {% for order_item in order_items %}
                <tr>
                    <td style="text-align: center;">
                        <figure class="itemside align-items-center">
                            <div class="aside"><img src="{{ order_item.product.images.url }}" class="img-sm" width="80"></div>
                            <figcaption class="info">
                                <p class="text-muted small">
                                    {% if order_item.variations.all %}
                                    {% for item in order_item.variations.all %}
                                    {{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
                                    {% endfor %}
                                    {% endif %}
                                </p>
                            </figcaption>
                        </figure>
                    </td>
                    <td style="text-align: center;">
                        <!-- col.// -->
                        <a href="{%url 'productdetails' product_id=order_item.product.id%}" class="title text-dark">{{ order_item.product.product_name }}</a>
                        {{order_item.variations.Color_id.color}} - "{{order_item.variations.size}}"inch
                                
                    </td>
                    <td style="text-align: center;">
                        <!-- col.// -->
                        <label for="" >{{order_item.quantity}}</label>
                    </td>
                    <td style="text-align: center;">
                        <div class="price-wrap">
                            
                            <small class="text-muted"> $ {{ order_item.variations.price }} each </small>
                        </div> <!-- price-wrap .// -->
                    </td>
                    <td style="text-align: center;">
                        <div class="price-wrap">
                            <var class="price">$ <span id="total_{{ order_item.id }}"></span></var>
                            
                        </div> <!-- price-wrap .// -->
                    </td>

                </tr>
                {% endfor %}

            </tbody>
        </table>

    </div>
</div>

<script>
    // Loop through cart items and calculate and display total using JavaScript
    {% for order_item in order_items %}
    var price = {{ order_item.variations.price }};
    var quantity = {{ order_item.quantity }};
    var total = price * quantity;
    var totalElement = document.getElementById("total_{{ order_item.id  }}");
    totalElement.textContent = total;
    {% endfor %}
</script>

{% endblock content %}