

{% extends './base.html' %}
{% load static %}

{% block content %}


<section class="section-content padding-y bg">
	{% for message in messages %}
    <div class="alert alert-success" role="alert">
        {{ message }}
    </div>
{% endfor %}

	<div class="container">

		<!-- ============================ COMPONENT 1 ================================= -->
		<h4 class="text-center mb-20">Review Your Order and Make Payment</h4>
		
		<div class="row">
			
			<aside class="col-md-12 col-lg-8">
				<div class="card">
					<h5 class="card-header">Billing Address</h5>
					<div class="card-body">
						<p class="card-text mb-0">{{address.firstname}} {{address.lastname}}</p>
						<p class="card-text mb-0">{{address.email}},{{address.mobile}}</p>
						<p class="card-text mb-0">{{order.city}}, {{order.state}},{{order.country}}</p>
						
						{% if order.order_note %}
						<b>Order Note: </b> {{order.order_note}}
						{% endif %}


					</div>
				</div>
				{% comment %} <div class="card">
					<h5 class="card-header">Payment Method</h5>
					<div class="card-body">
						<p class="card-text">Cash on Delivery</p>
						<p class="card-text">Wallet</p>
						<p class="card-text">PayPal</p>

					</div>
				</div> {% endcomment %}
				<div class="card">
					<h5 class="card-header">Review Products</h5>
					<div class="card-body">
						<table class="table table-borderless table-shopping-cart">
							<thead class="text-muted">
								<tr class="small text-uppercase">
									<th scope="col" style="text-align: center;">Product Image</th>
									<th scope="col"  style="text-align: center;">Product details</th>
									<th scope="col" width="120" style="text-align: center;">Quantity</th>
									<th scope="col" width="120" style="text-align: center;">Price</th>
									<th scope="col" width="120" style="text-align: center;">Total Price</th>

								</tr>
							</thead>
							<tbody>

								{% for cart_item in cart_items %}
								<tr>
									<td style="text-align: center;">
										<figure class="itemside align-items-center">
											<div class="aside"><img src="{{ cart_item.product.images.url }}" class="img-sm" width="80"></div>
											<figcaption class="info">
												
												<p class="text-muted small">
													{% if cart_item.variations.all %}
													{% for item in cart_item.variations.all %}
													{{ item.variation_category | capfirst }} : {{ item.variation_value | capfirst }} <br>
													{% endfor %}
													{% endif %}
												</p>
											</figcaption>
										</figure>
									</td>
									<td style="text-align: center;">
										<!-- col.// -->
										<ul>
											<strong><li style="display: inline;">{{ cart_item.product.product_name }}</li></strong>
											<br>
											<li style="display: inline;">Colour : {{cart_item.variations.Color_id.color}}</li>
											<br>
											<li style="display: inline;">Size : "{{cart_item.variations.size}}"inch</li>
										</ul>		
									</td>
									<td style="text-align: center;">
										<!-- col.// -->
										<label for="" >{{cart_item.quantity}}</label>
									</td>
									<td style="text-align: center;">
										<div class="price-wrap">
											
											<small class="text-muted"> $ {{ cart_item.variations.price }} each </small>
										</div> <!-- price-wrap .// -->
									</td>
									<td style="text-align: center;">
										<div class="price-wrap">
											<var class="price">$ <span id="total_{{ cart_item.id }}"></span></var>
											
										</div> <!-- price-wrap .// -->
									</td>

								</tr>
								{% endfor %}

							</tbody>
						</table>

					</div>
				</div>

			</aside> <!-- col.// -->
			<aside class="col-md-12 col-lg-4">

				<div class="card">
					<div class="card-body">
						<dl class="dlist-align" style="display: flex;justify-content: space-between;">
							<dt>Total price:</dt>
							<dd class="text-right">$ {{total}}</dd>
						</dl>
						{% comment %} <dl class="dlist-align" style="display: flex;justify-content: space-between;">
							<dt>Tax:</dt>
							<dd class="text-right"> $ {{tax}}</dd>
						</dl> {% endcomment %}
						<dl class="dlist-align" style="display: flex;justify-content: space-between;">
							<dt>Coupon Amount:</dt>
							<dd class="text-right text-success" id="coupon-amount">$ {{ discount_price }}</dd>
						</dl>
						<dl class="dlist-align" style="display: flex;justify-content: space-between;">
							<dt>Grand Total:</dt>
							<dd class="text-right text-dark b" id="grand-total"><strong>$ {{grand_total}}</strong></dd>
						</dl>
						<hr>
						<div class="d-grid gap-2">
							<a href="{% url 'cashondelivery' order.id%}" onclick="return confirm('Are you sure you want this items by Cash On Delivery?')" class="btn btn-primary"> Cash on Delivery</a>
						</div>
						<br>
						
						{% comment %} <form method="POST" action="#">
							{% csrf_token %}
							<input type="hidden" name="grand_total" value="{{ grand_total }}">
							<input type="hidden" name="discount_price" value="{{ discount_price }}"> 
							
							<!-- Other form fields here -->
							<button type="submit" class="btn btn-warning col-12">
								<i><strong class="text-lg">Wallet Payment</strong></i>
							</button>
						</form> {% endcomment %}
						<br>
						<div id="paypal-button-container">
							<!-- PayPal Button Will Load -->
						</div>

					</div> <!-- card-body.// -->
				</div> <!-- card.// -->
				<div class="discount__content">
					<h6>Discount codes</h6>
					<form method = 'POST' action="{%url 'coupon_check'%}">
						{% csrf_token %}
						<input name='order_id' type="hidden" value={{order.id}}>
						<input type="text" name='coupon' placeholder="Enter your coupon code">
						<button type="submit" class="site-btn">Apply</button>
					</form>
				</div>
			</aside> <!-- col.// -->


		</div> <!-- row.// -->

		<!-- ============================ COMPONENT 1 END .// ================================= -->

	</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- Add this script to your payment success page -->
  


<script>
    // Loop through cart items and calculate and display total using JavaScript
    {% for cart_item in cart_items %}
    var price = {{ cart_item.variations.price }};
    var quantity = {{ cart_item.quantity }};
    var total = price * quantity;
    var totalElement = document.getElementById("total_{{ cart_item.id }}");
    totalElement.textContent = total;
    {% endfor %}
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://www.paypal.com/sdk/js?client-id=AZGNeFxiJyXrL9XpinF2gPLxaH9xRb0rypH-V7pNJnV77UjOWsOqQewOGPM8BvXEFhBAp7oG1jeT5f4U&currency=USD"></script>
<script>

	function getCookie(name) {
		
		
    let cookieValue = null;
    if (document.cookie && document.cookie !== '') {
        const cookies = document.cookie.split(';');
        for (let i = 0; i < cookies.length; i++) {
            const cookie = cookies[i].trim();
            // Does this cookie string begin with the name we want?
            if (cookie.substring(0, name.length + 1) === (name + '=')) {
                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                break;
            }
        }
    }
    return cookieValue;
}

	var amount = "{{ grand_total }}"
	var url = "#"
	var csrftoken = getCookie('csrftoken');
	var orderID = "{{order.id}}"
	var payment_method = 'PayPal'
	var redirect_url = "#"
	var discount_price = "{{ discount_price }}"
	console.log('window open')
	console.log('grand_total=' +amount)
	console.log('orderID = ' +orderID)
	console.log('discount_price = ' +discount_price)
	// Render the PayPal button into #paypal-button-container
	paypal.Buttons({

		style: {
			color: 'blue',
			shape: 'rect',
			label: 'pay',
			height: 40
		},

		// Set up the transaction
		createOrder: function(data, actions) {
			return actions.order.create({
				purchase_units: [{
					amount: {
						value: amount,
					}
				}]
			});

		},

		// Finalize the transaction
		onApprove: function(data, actions) {
			return actions.order.capture().then(function(details) {
				// Show a success message to the buyer
				console.log(details);
				sendData();
				function sendData(){
					fetch(url, {
						method : "POST",
						headers: {
							"Content-type": "application/json",
							"X-CSRFToken": csrftoken,
						},
						body: JSON.stringify({
							orderID: orderID,
							transID: details.id,
							payment_method: payment_method,
							status: details.status,
							payedAmount:amount,
							discountprice:discount_price,
						}),
					})
				  .then((response) => response.json())
				  .then((data) => {
						window.location.href = redirect_url + '?order_number='+data.order_number+'&payment_id='+data.transID;

					});
				}
			});
		}


	}).render('#paypal-button-container');
</script>



{% endblock %}