{% extends "./base.html" %}


{% load static %}


{% block content  %}
<html>
    {% comment %} <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    </head> {% endcomment %}
    <style>

        /* Style the anchor tag to look like a button */
        .button {
            display: inline-block;
            padding: 10px 20px; /* Adjust the padding as needed */
            background-color: #000000; /* Button background color */
            color: #fff; /* Button text color */
            text-decoration: none; /* Remove underline from anchor tag */
            border: none; /* Remove border */
            border-radius: 5px; /* Rounded corners */
            cursor: pointer; /* Add pointer cursor on hover */
        }
        
        /* Style the anchor tag on hover */
        .button:hover {
            background-color: #0056b3; /* Change background color on hover */
        }
        

    </style>
    
    <body>
        <section style="background-color: #ffffff;">
            <div class="container py-5">
              <div class="row">
                <div class="col">
                  <nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4">
                    <ol class="breadcrumb mb-0">
                      <li class="breadcrumb-item"><a href="/">Home</a></li>
                      <li class="breadcrumb-item"><a href="/profile">Profile</a></li>
                    
                    </ol>
                  </nav>
                </div>
              </div>
          {% for message in messages %}
                        <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
                     <strong></strong> {{message}}
                     <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                     </div>
                    {% endfor %}
              <div class="row">
                 
                <div class="col-lg-4">
                  <div class="card mb-4">
                    <div class="card-body text-center">
                      {% if usr.profilepic %}
                      <img src="{{usr.profilepic.url}}" alt="#"
                      class="rounded-circle img-fluid" style="width: 150px;">
                    {% endif %}
                      <h2 class="my-3">{{usr.first_name}} {{usr.last_name}}</h2>
                      {% comment %} <p class="text-muted mb-1">Our </p> {% endcomment %}
                      <p class="text-muted mb-4"> Our ShoeBuddy </p>
                      
                    </div>
                  </div>
                  <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
            
                    </div>
                  </div>
                </div>
                <div class="col-lg-8">
                  <div class="card mb-4">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">First Name</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usr.first_name}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Last Name</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usr.last_name}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Username</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usr.user_name}}</p>
                        </div>
                      </div>
                      <hr>
                      <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Email</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usr.email}}</p>
                        </div>
                      </div>
                      <hr>
                      <input name="user_id" type="hidden" value="{{ usr.id }}">
                      {% comment %} <div class="row">
                        <div class="col-sm-3">
                          <p class="mb-0">Date Joined</p>
                        </div>
                        <div class="col-sm-9">
                          <p class="text-muted mb-0">{{usr.date_joined}}</p>
                        </div>
                      </div> {% endcomment %}
                      <br>
                      <a href="/editprofile" class="button">Edit</a>
                      <a href="/address" class="button">Addresses</a>
                      <a href="/myorders" class="button">My Orders</a>
                      {% comment %} <a href="" class="button">Coupons</a>
                      <a href="" class="button">My Wallet</a> {% endcomment %}
                      <a href="/change_password" class="button">Change Password</a>
                      <a href="/coupondetails" class="button">My Coupons</a>


                    </div>
                  </div>
               
              </div>
            </div>
          </section>
        <script src="" async defer></script>
    </body>
</html>
{%endblock%}